.login-registration-btn {
  background: #029ca5;
  font-family: "Nunito Sans", sans-serif;
}

.form-text {
  color: #029ca5;
}
.login-btn-1 {
  background: #4285f4;
}
.login-btn-2 {
  background: #3b5998;
}
