.prayer-container {
  font-family: "Berkshire Swash", cursive;
}
.prayer-container h6 {
  font-family: "Nunito Sans", sans-serif;
}
.prayer-container h5 {
  font-weight: 600;
  color: #52cff1;
  font-family: "Nunito Sans", sans-serif;
}
.time-input {
  border: 1px solid #00add5;
}
.section-title {
  color: #062265;
  line-height: 65px;
  font-family: "Berkshire Swash", cursive;
}
.second-half {
  background: url("https://i.ibb.co/FwhQ3fb/timer-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  color: #242f75;
}
.top-div {
  background: #d5f6f6;
  padding: 15px;
}
.next-div {
  background: #ffff;
  padding: 30px;
  border-bottom: 1px solid #fdf3f3;
}
