.send-container label {
  color: rgb(90, 113, 1);
}

.send-container h5 {
  font-family: "Nunito Sans", sans-serif;
  color: #029ca5;
  font-weight: 600;
}
.question-icon {
  color: #029ca5;
}
/* question-from */
@media only screen and (max-width: 639px) {
  .question-from{
    width: 100%;
  }
}
