@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Rajdhani&display=swap");
.hero-container {
  background: #ecfbf9;
}
.bangla-text {
  font-family: "Hind Siliguri", sans-serif !important;
}
.hero-container h2 {
  color: #062265;
  line-height: 55px;
  font-family: "Berkshire Swash", cursive;
}
.hero-container p {
  font-family: "Nunito Sans", sans-serif;
}
.hero-container .btn-text {
  color: #088ba5;
}
.btn-design {
  border: 5px solid #c8eaf5;
  padding: 3px;
  background-image: linear-gradient(
    to right,
    #00d7d8 0%,
    #00add5 51%,
    #00add5 100%
  );
}
.first-width {
  background: url("../../../images/bg2.png");
  background-repeat: no-repeat;
  background-position: left;
}
.hero-img {
  left:-69px;
  position: absolute;
  width: 900px;
  top: 205px;
}

.img-border {
  border: 1px dashed #088ba5;
  border-radius: 100%;
  animation: rotation infinite;
  animation-duration: 70s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  width: 650px;
  height: 650px;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-thumb {
  position: absolute;
  top: 271px;
  left: -36px;
  background: white;
  width: 85px !important;
  height: 50px;
  background-size: cover;
  width: 60px;
  height: 85px;
  text-align: center;
  padding-top: 4px;
  padding-right: 8px;
}
.hero-thumb-1 {
  position: absolute;
  top: 94px;
  left: 20px;
  background: white;
  width: 85px !important;
  height: 50px;
  background-size: cover;
  width: 60px;
  height: 85px;
  text-align: center;
  padding-top: 4px;
  padding-right: 8px;
}
.hero-thumb-2 {
  position: absolute;
  top: -14px;
  left: 177px;
  background: white;
  width: 85px !important;
  height: 50px;
  background-size: cover;
  width: 60px;
  height: 85px;
  text-align: center;
  padding-top: 4px;
  padding-right: 8px;
}
.hero-thumb-3 {
  position: absolute;
  top: -10px;
  left: 391px;
  background: white;
  width: 85px !important;
  height: 50px;
  background-size: cover;
  width: 60px;
  height: 85px;
  text-align: center;
  padding-top: 4px;
  padding-right: 8px;
}
.hero-thumb-4 {
  position: absolute;
  top: 120px;
  left: 562px;
  background: white;
  width: 85px !important;
  height: 50px;
  background-size: cover;
  width: 60px;
  height: 85px;
  text-align: center;
  padding-top: 4px;
  padding-right: 8px;
}
@media (max-width: 660px) {
  .hero-img {
    position: absolute;
    width: 549px !important;
    top: 39px;
    left: 19px;
  }
  .img-design {
    padding-left: 40px;
    padding-right: 40px;
    height: 350px;
    margin: 20px;
    border-top: 1px dashed #088ba5;
    border-radius: 100%;
  }
  .img-border {
    display: none;
  }

  .hero {
    margin-top: 15px;
  }
  .hero-thumb {
    position: absolute;
    top: 140px;
    left: -10px;
    background: white;
    width: 43px !important;
    height: 50px;
    background-size: cover;
    width: 60px;
    height: 43px;
    text-align: center;
    padding-top: 4px;
  }
  .hero-thumb-img {
    position: absolute;
  }
  .hero-thumb-1 {
    position: absolute;
    top: 21px;
    left: 17px;
    background: white;
    width: 43px !important;
    height: 50px;
    background-size: cover;
    width: 60px;
    height: 43px;
    text-align: center;
    padding-top: 4px;
  }
  .hero-thumb-1 img {
    padding-left: 5px;
    padding-top: 3px;
  }
  .hero-thumb-2 {
    position: absolute;
    top: 81px;
    left: -4px;
    background: white;
    width: 43px !important;
    height: 50px;
    background-size: cover;
    width: 60px;
    height: 43px;
    text-align: center;
    padding-top: 4px;
  }
  .hero-thumb-2 img {
    padding-left: 5px;
    padding-top: 3px;
  }
  .hero-thumb-3 {
    position: absolute;
    top: -21px;
    left: 148px;
    background: white;
    width: 43px !important;
    height: 50px;
    background-size: cover;
    width: 60px;
    height: 43px;
    text-align: center;
    padding-top: 4px;
  }
  .hero-thumb-3 img {
    padding-left: 7px;
    padding-top: 3px;
  }
  .hero-thumb-4 {
    display: none;
  }
  .hero-thumb-4 img {
    display: none;
  }
  .hero-thumb img {
    padding-left: 5px;
    padding-top: 3px;
  }
}

@media (max-width: 1530px) {
  .hero-thumb-4 {
    position: absolute;
    top: 120px;
    left: 563px;
    background: white;
    width: 85px !important;
    height: 50px;
    background-size: cover;
    width: 60px;
    height: 85px;
    text-align: center;
    padding-top: 4px;
    padding-right: 8px;
  }
}
