.view-div {
  background: url("https://i.ibb.co/7bT5930/pngtree-arabic-mandala-circle-pattern-illustration-of-decorative-floral-islamic-vector-design-png-im.png");
  background-repeat: no-repeat;
  background-size: contain;
}
